<div class="add-event-page">
    <nav class="navbar">
      <div class="logo">EventManager</div>
      <ul>
        <li><a href="#!/admin-home">Home</a></li>
        <li><a href="#!/add-event">Add Event</a></li>
        <li><a href="#!/past-events">Past Events</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </nav>
  
    <div class="form-container">
      <h2>Add New Event</h2>
  
      <form ng-submit="addEvent()">
        <input type="text" ng-model="event.name" placeholder="Event Name" required>
        <input type="date" ng-model="event.date" required>
        <input type="text" ng-model="event.location" placeholder="Location" required>
        <input type="text" ng-model="event.image" placeholder="Image URL or path" required>
        <textarea ng-model="event.description" placeholder="Event Description" required></textarea>
        <button type="submit">Add Event</button>
      </form>
    </div>
</div>
